<!--
<ejemplos-binding></ejemplos-binding>
<ejemplos-componentes></ejemplos-componentes>
-->
<!-- cuando el formulario llega lo ahce -->
<ejemplos-inyeccion (formularioAceptado)="guardarContacto($event)"></ejemplos-inyeccion>

<div class="container">
    <!-- Titulo -->
    <header>
        <h1>
            Mi agente
        </h1>
    </header>

    <formulario-contacto (formularioAceptado)="formularioContacto($event)"></formulario-contacto>

    <!--  Coleccion de contactos-->
    <lista-contactos [contactos]="listaContactos" (seleccionado)="mostrarDetalles($event)"></lista-contactos>

    <!-- Detalles de contacto -->
    <detalles-contacto 
    [contacto]="contactoSeleccionado"
    (verFb)="navegarRuta($event)"
    (verTw)="navegarRuta($event)"
    ></detalles-contacto>
</div>