<!--
<ejemplos-binding></ejemplos-binding>
<ejemplos-componentes></ejemplos-componentes>
-->
<!-- cuando el formulario llega lo ahce -->
<!--<ejemplos-inyeccion (formularioAceptado)="guardarContacto($event)"></ejemplos-inyeccion>-->
<!--<ejemplos-observables></ejemplos-observables>-->
<!--<ejemplos-observables-wikipedia></ejemplos-observables-wikipedia>-->
<!--<ejemplos-pipe></ejemplos-pipe>-->
<!--<ejemplo-directiva></ejemplo-directiva>-->

<div class="container">
    <!-- Titulo -->
    <header>
        <h1>
            Mi agente
        </h1>
    </header>

    <!--Barra de navegacion-->
    <nav>
        <ul>
            <li> <a routerLink="/mis-contactos"
                    routerLinkActive='seleccionado'>Mis contactos</a></li>
            <li> <a routerLink="/nuevo-contacto"
                    routerLinkActive='seleccionado'>Nuevo contacto</a></li>
        </ul>
    </nav>

    <!--Zona dinamica de paginas de la app-->
    <router-outlet></router-outlet>
</div>